<header id="header" class="py-4 px-6 flex items-center w-full justify-between text-white fixed top-0 transition-all">
  <div class="flex items-center gap-48">
    <a routerLink="/">
      <div id="logo" class="flex items-center gap-3">
        <img class="h-14 w-14 bg-white rounded-full p-2" src="../../../assets/images/favicon.png"
          alt="Logo da e-Kaizen, consistindo por um catavento vermelho e preto." />
        <h1 class="font-semibold text-2xl">e-Kaizen</h1>
      </div>
    </a>
    <nav class="flex items-center gap-6 text-lg">
      <ul class="flex items-center gap-10">
        <a routerLink="/">
          <li class="hover-underline-animation">Início</li>
        </a>
        <a routerLink="/ferramentas">
          <li class="hover-underline-animation">Ferramentas</li>
        </a>
        <a routerLink="/contato">
          <li class="hover-underline-animation">Contato</li>
        </a>
      </ul>
      <div class="h-4 w-[2px] bg-white"></div>
      <ul class="flex items-center gap-10">
        <a href="">
          <li class="hover-underline-animation">Treinamentos</li>
        </a>
        <a href="">
          <li class="hover-underline-animation">e-Learning</li>
        </a>
      </ul>
    </nav>
  </div>
  <nav class="flex items-center justify-between font-medium">
    <div class="flex items-center gap-4">
      <div class="">
        <a target="_blank"
          class="bg-transparent text-white px-4 py-2 hover:bg-white border rounded-l-md hover:text-black transition-all"
          href="https://www.gestaokaizen.com.br/eferramentas/">Gestão
          Kaizen</a>
        <a target="_blank"
          class="bg-transparent text-white px-4 py-2 hover:bg-white border border-l-0 rounded-r-md  hover:text-black transition-all"
          href="https://resale.ekaizen.digital/resalelogin">Admin</a>
      </div>
      <div>
        <a class="bg-white text-[#953223] rounded-md px-4 py-2 hover:bg-transparent border hover:text-white transition-all"
          href="https://app.ekaizen.digital/login">Login</a>
      </div>
    </div>
  </nav>
</header>