<section class="flex items-center justify-center gap-64 mb-48">
  <div>
    <img src="../../../../../assets/images/layer1.png" />
  </div>
  <div>
    <div class="relative mb-7">
      <strong class="text-3xl font-bold">Sobre nós</strong>
      <div class="h-1 bg-black w-12 absolute bottom-[0px]"></div>
    </div>
    <div class="w-full flex flex-col gap-4 max-w-2xl text-[#8b8b8b] font-medium">
      <p>Somos uma empresa composta por engenheiros industriais e arquitetos de sistemas com ampla experiência no "chão
        de
        fábrica", na gestão e implantação de projetos de melhoria contínua.</p>
      <p>Com objetivo de sustentar os projetos desenvolvemos ferramentas eletrônicas de gestão, consideradas como um dos
        pilares da indústria 4.0, ferramentas com capacidade de gerenciar todas as informações e o conhecimento gerado a
        partir dos processos.</p>
      <p>Nossas ferramentas são de baixo custo para nossos clientes, viabilizando a utilização para qualquer tamanho de
        empresa.</p>
    </div>
  </div>
</section>